<!DOCTYPE html>
<html lang="ch">

<head>
	{% include "navigation.html" %}
	<title>Budget</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='brand.png')}}" alt="Oktofinance"/>

</head>

<body>
	 <!-- Auflistung der newtransactions (Titel) -->
	<table class="table table-striped">
		<thead>
        Your Transactions
		</thead>
		<tbody>
			{% for element in data1: %}
			<tr>
				<td>{{element}}</td>
			</tr>
				{% endfor %}
		</tbody>
	</table>
	<table class="table table-striped">
		<tbody>
			<tr>Total Ausgaben</tr>
				<td>{{ sum }}</td>
			<tr>Total Einnahmen</tr>
				<td>{{ sum2 }}</td>
			<tr>Total Budget</tr>
				<td>{{ sum_budget }}</td>
			<tr>Total Ausgaben für Essen</tr>
				<td>{{ sum_essen }}</td>
			<tr>Total Ausgaben für Haushalt</tr>
				<td>{{ sum_haushalt }}</td>
			<tr>Total Ausgaben für Schule</tr>
				<td>{{ sum_schule }}</td>
			<tr>Total Ausgaben für Kleider</tr>
				<td>{{ sum_kleider }}</td>
			<tr>Total Ausgaben für Sport</tr>
				<td>{{ sum_sport }}</td>
			<tr>Total Ausgaben für Freizeit</tr>
				<td>{{ sum_freizeit }}</td>
			<tr>Total Ausgaben für Kommunikation</tr>
				<td>{{ sum_kommunikation }}</td>
			<tr>Total Ausgaben für persönliches</tr>
				<td>{{ sum_persönlich }}</td>
		</tbody>
	</table>


<!-- Betrag pro Transaction auslesen aus newtransactions, anschliessend zusammenrechnen -->

</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>