<!DOCTYPE html>
<html lang="ch">

<head>
	{% include "navigation.html" %}
	<title>Budget</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='brand.png')}}" alt="Oktofinance"/>

</head>

<body>
	 <!-- Auflistung der newtransactions (Titel) -->
	<table class="table table-striped">
		<thead>
        Your Transactions
		</thead>
		<tbody>
			{% for element in data1: %}
			<tr>
				<td>{{element}}</td>
			</tr>
				{% endfor %}
		</tbody>
	</table>

	{{ sum }}

<!-- Betrag pro Transaction auslesen aus newtransactions, anschliessend zusammenrechnen -->

</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>