<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css4_forgot_password.css">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/js/bootstrap.bundle.js">
    <link rel="shortcut icon" href="{{ url_for('static', filename='brand.png')}}" alt="OktoFinance"/>
    <title>Password Request</title>
</head>

<body>
    <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <div class="brand_logo">
              <i class="fa fa-key fa-8x" style= "color:white"></i>
            </div>
          </div>
        </div>

            <div class="text-center">
              <h2>Forgot Password?</h2>
              <p>You can reset your password here.</p> 
            </div>   
            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" name="e_mail" class="form-control input_text" placeholder="E-Mail-Address">
              </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" action="url_for('forgot_password')" value="Reset Password">
            </div>
            </form>
          </div>
        </div>
      </div>
</body>