<!DOCTYPE html>
<html lang="ch">

<head>
<!-- Header --> 

<meta name="keywords" content="Oktofinance, Ok to finance, oktofinance">
<meta name="author" content = "Cédric Carrel und Simeon Solenthaler">
<meta name="date" content="29.03.2020">
<meta name="description" content="Webapplikation von Cédric Carrel und Simeon Solenthaler">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="30">
<meta charset="utf-8">

<link rel="stylesheet" href="{{ url_for('static', filename='css0_navigation.css') }}"> <!-- Einheitliche Navigation -->
<link rel="stylesheet" href="{{ url_for('static', filename='css1_dashboard.css') }}">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!-- Schrifften -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> <!-- Icons -->

<title>Oktofinance - Dashboard</title>
<link rel="shortcut icon" href="pictures/brand.jpg" alt="Oktofinance"/>

</head>

<body>
<div class="wrapper">
	<div class="header">
	  <nav class="navigation">
		<ul>
		  <li><a href="templates/profil.html">Profil</a></li>
		  <li><a href="templates/budget.html">Budget</a></li>
		  <li><a href="templates/transaktionen.html">Transaktionen</a></li>
		  <li><a href="templates/auswertungen.html">Auswertungen</a></li>
		 </ul>
	  </nav>
	  <div class="social-media">
		<ul>
		  <a href="https://www.facebook.com" title="Unsere Facebook Seite" target="_blank"><i class="fab fa-facebook-square"></i></a>
		  <a href="https://www.instagram.com" title="Unsere Instagram Seite" target="_blank"><i class="fab fa-instagram"></i></a>
		  <a href="https://www.linkedin.com" title="Unsere LinkedIn Seite" target="_blank"><i class="fab fa-linkedin"></i></a>
		</ul>
	  </div>
	 </div>

	<div class="content">
		<h1>Hallo {{ name }} Willkommen auf dem Dashboard!</h1>
	</div>

	<div class="footer">
		<footer>
		<h1>Weitere Fragen?</h1>
			<table>
				<tr>
					<td>Oktofinance</td>
					<td></td>
				</tr>
				<!---
				<tr>
					<td>Teufenerstrasse 63<br>9000 St.Gallen</br></td>
					<td><a href="https://goo.gl/maps/sUECtWotQxR2" title="hier wohne ich" target="_blank"><i class="fas fa-map-marker-alt"></i></a></td>
				</tr>
				--->
				<tr>
					<td><a href="mailto:cedi_16@hotmail.com" title="schreib uns eine Mail">cedi_16@hotmail.com</td>
					<td><a href="mailto:cedi_16@hotmail.com" title="schreib uns eine Mail"><i class="far fa-envelope"></i></a></td>
				</tr>
				<tr>
					<td><a href="tel:+41792697395" title="ruf uns an">+41 79 269 73 95</td>
					<td><a href="+41792697395" title="ruf uns an"><i class="fas fa-phone"></i></a></td>
				</tr>					
			</table>
		</footer>
	</div>
</div>

</body>
</html>


