<!DOCTYPE html>
<html lang="ch">

<head>
	{% include "navigation.html" %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css2_newtransactions.css') }}">
    <title>New Transactions</title>
</head>
<body>
	<h1>New Transactions</h1>
    <form action = "/budget" method = "POST">
        <p>Name <input type = "text" name = "Name" /></p>
        <p>Vorname <input type = "text" name = "Vorname" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</html>

</body>

<footer>
	{% include "footer.html" %}
</footer>
</html>